# IDE-related files
.idea/
.vscode/
.vs/
*.sublime-workspace

.cache/
.gradle/
local.properties
.cxx

CMakeUserPresets.json

# Build directories
out/
build/
cmake-build*/

# Android project symlinks
examples/sandbox/android/app/jni/insound
examples/sandbox/android/app/src/main/assets/assets

# OS-related files
.DS_Store
